.container {
  max-width: 1200px;
}

.page-content {
  max-width: 1200px;
  margin: auto;
}

#menu ul li:first-child a {
  padding-left: 0;
}

.home-banner__image--full {
  width: 100%;
}

.breadcrumb {
  background: #fdfdfd;
  padding: 0 15px;
}

.breadcrumb__list {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__item {
  padding-right: 5px;
}

.breadcrumb__item i {
  padding-left: 5px;
  font-size: 10px;
}

.breadcrumb__item:last-child i {
  display: none;
}

.page-header {
  color: #d5570c;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.img_detail img{
  width: 100%;
}

.content-detail {
  margin-top: 20px;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-item {
  margin-right: 0.2rem;
  margin-bottom: -1px;
}

.bx-wrapper {
  box-shadow: none;
  border:none;
  background: none;
  margin-bottom: 10px;
}

.slider__image {
  width: 100%;
}

.post_tutorial_item {
  border-bottom: 1px dashed #cccccc;
  padding: 10px 0;
}

.post_tutorial_item .post_item__image{
  width: 100%;
}

.post_tutorial_item .post_item__link {
  font-size: 24px;
  color: #f36f21;
  text-transform: capitalize;
}

.price__total {
  color: #d5570c !important;
}