/* ==Common ==*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}
body {
    background-color: #ededed;
    font-family: "Nunito";
}

ul, li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:active, .hvr-grow:focus, .hvr-grow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#wrapper {
    margin: auto;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

/* Breadcrumb */
.breadcrumb-wrap {
    padding: 10px 0;
    margin-bottom: 5px;
}

.breadcrumb_content {
    margin: 0;
}

.breadcrumb_content li {
    display: inline-block;
    position: relative;
    padding-right: 15px;
}

.breadcrumb_content li a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 15px;
}

.breadcrumb_content li:after {
    position: absolute;
    content: ">";
    right: 2px;
    top: 0;
}

.breadcrumb_content li:last-child:after {
    content: "";
}
/* End Breadcrumb */

/* Title Page */
.title-list__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    background-color: #fff;
    padding: 6px 10px 6px;
    color: #3d3d3d;
}

.title-list__left {
    display: flex;
    align-items: center;
}

.title-list__left h2 {
    padding-right: 10px;
    font-size: 24px;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 0;
    font-weight: 700;
}

.title-list__left a.view-all {
    text-decoration: none;
    color: #3d3d3d;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 14px;
}

.title-list__left a.view-all i {
    color: #c80000;
}

.title-list__right .list-pagination a {
    margin: 0 2px;
    padding: 5px 8px;
    text-decoration: none;
    color: #008f97;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    border: 1px solid;
}

.title-list__right .list-pagination a:hover {
    background: #008f97;
    color: #fff;
    transition: 0.4s ease-in-out;
}
/* End Title Page */

/* Pagination */
.paginate {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.paginate ul li {
    display: inline-block;
    margin: 5px 2px;
}

.paginate ul li a {
    height: 35px;
    padding: 9px 13px;
    text-decoration: none;
    color: #666666;
    font-weight: normal;
    border: 1px solid #d5d5d5;
    font-size: 13px;
    border-radius: 50%;
}

.paginate ul li a:hover {
    background: #f6f6f6;
}

.paginate ul li a.active {
    background: #424852;
    color: #fff;
    border-color: #424852;
}

.paginate ul li a.active:hover {
    background: #2a313d;
}

.paginate ul li a.prev, .paginate ul li a.next, .paginate ul li a.last {
    border: none;
}
/* End Pagination */

/* Box share link */
.share-link {
    margin: 10px 0;
    border: 1px solid #ededed;
    padding: 10px 10px;
    background: #f7f6f6;
}
/* End Box share link */

/* Scroll Top */
#scrollTop {
    display: none;
    width: 37px;
    height: 37px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    text-indent: -99999px;
    cursor: pointer;
    background: url("../images/scroll_top.png") top center no-repeat;
    transition: 0.5s;
    z-index: 999;
    text-decoration: none;
}

/*#scrollTop.show {*/
/*    display: block;*/
/*}*/

#scrollTop:hover {
    background: url("../images/scroll_top.png") bottom center no-repeat;
    transition: 0.5s;
}
/* End Scroll Top */

.iframe-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.iframe-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* == End Common == */

/* == Header == */
header {
    background-color: #e90000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header-content__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.header-content__search {
    width: 50%;
}

.form-search {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.form-search input {
    background: #fff;
    width: 100% !important;
    height: 40px;
    border: 1px solid #ebebeb !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05) inset;
    border-radius: 30px;
}

.form-search input:focus {
    box-shadow: 0 2px 8px rgba(0,0,0,0.05) inset;
}

.form-search input::placeholder {
    font-size: 14px;
    color: #3d3d3d;
    font-style: italic;
}

.form-search button {
    position: absolute;
    height: 40px;
    padding: 0;
    color: #f38221;
    font-size: 15px;
    cursor: pointer;
    right: 15px;
    top: 0;
    background: transparent;
    line-height: 40px;
}


.header-content__contact {
    font-size: 15px;
    width: 15%;
    text-align: center;
}

.header-content__contact a {
    color: #fff;
    font-weight: bold;
}

.header-content__contact a:hover {
    color: #FFFF00;
    transition: 0.3s ease-out;
}

.header-content__contact p {
    margin: 0;
    color: #fff;
}

.header-content__tutorial {
    font-size: 15px;
    width: 20%;
    text-align: center;
}

.header-content__tutorial a{
    color: #fff;
    font-weight: bold;
}

.header-content__tutorial a:hover {
    color: #FFFF00;
    transition: 0.3s ease-out;
}



header .navbar {
    padding: 0;
}

header .navbar-nav .nav-link {
    text-align: center;
    font-size: 14px;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #3d3d3d !important;
}

header .dropdown-toggle::after {
    display: none;
}

header .navbar-light .navbar-nav .active>.nav-link,
header .navbar-light .navbar-nav .nav-link:hover,
header .navbar-light .navbar-nav .nav-item:hover {
    background: #f1f1f1;
    color: #3d3d3d !important;
}

.isDisable {
    pointer-events: none;
}

.has-child {
    position: relative;
    cursor: pointer;
}

.collapse.child {
    display: none !important;
    min-width: 180px;
    border: 1px solid #EEEEEE;
    border-bottom: none;
    background-color: #ffffff;
}

.collapse.show.child {
    display: block !important;
}

.has-child:hover .collapse.child {
    display: block !important;
    position: absolute;
    z-index: 99;
    background-color: #ffffff;
}

.collapse.subchild {
    display: none !important;
    min-width: 180px;
    border: 1px solid #EEEEEE;
    border-bottom: none;
    background-color: #ffffff;
}

.collapse.show.subchild {
    display: block !important;
}

.child .has-child:hover .collapse.subchild {
    display: block !important;
    position: absolute;
    z-index: 99;
    left: 100%;
    top: 0;
    background-color: #ffffff;
}

.child .nav-link, .subchild .nav-link {
    text-align: left !important;
    border-bottom: 1px solid #EEEEEE;
    padding: 6px 10px;
}

.has-child .nav-link i {
    color: #999999;
    font-size: 12px;
    margin-top: .3em;
    display: none;
}

.has-child .nav-link:not(.collapsed) i:before {
    content: "\f068";
}
/* == End Header == */

/* == Footer == */
footer {
    border-top: 2px solid #e90000;
    padding: 15px 0 0;
    background-color: #ffffff;
    color: #676767;
    margin-top: 15px;
}

.footer-item {
    margin-top: 15px;
}

.footer-item__title {
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.footer-item.footer-info p {
    font-size: 14px;
}

.footer-item__content ul li {
    margin-bottom: 5px;
}

.footer-item__content ul li a {
    color: #676767;
    display: block;
    padding: 4px 0;
    text-decoration: none;
    font-size: 15px;
}

.footer-item__content ul li a:hover {
    color: #008f97;
    transition: 0.4s ease-in-out;
}

.footer-social .footer-item__content {
    display: flex;
    flex-flow: row wrap;
}

.footer-social a {
    margin: 10px 5px;
}

.footer-social a img {
    width: 30px;
    height: 30px;
    border-radius: 7px;
}

footer #copy-right {
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    background: #f1f1f1;
    color: #3d3d3d;
}
footer #copy-right b {
    color: #ccc;
    font-weight: normal;
}
/* == End Footer == */

/* == Home Page == */
.cate-menu .cate-item {
    position: relative;
    padding: 5px;
}

.cate-menu .cate-item .cate-item__title {
    width: 100%;
    display: inline-block;
    color: #444444;
    font-size: 16px;
    text-decoration: none;
}

.cate-menu .cate-item .cate-item__title:hover {
    color: #008f97;
    transition: 0.4s;
}

.cate-menu .cate-item .sub-menu {
    display: none;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 100%;
    background: #ffffff;
    min-width: 180px;
}

.cate-menu .cate-item .sub-menu li {
    padding: 5px 10px;
    border-bottom: 1px solid #f7f7f7;
}

.cate-menu .cate-item .sub-menu li:last-child {
    border-bottom: none;
}

.cate-menu .cate-item .sub-menu li a {
    width: 100%;
    display: inline-block;
    color: #444444;
    font-size: 16px;
    text-decoration: none;
}

.cate-menu .cate-item .sub-menu li a:hover {
    color: #008f97;
    transition: 0.4s;
}

.cate-menu .cate-item:hover .sub-menu{
    display: block;
}

.slide_home {
    max-width: 1180px;
    margin: auto;
}
.content-news {
    background: #fff;
    border: 1px solid #ccc;
}

.content-news .title span {
    display: inline-block;
    padding: 10px 20px;
    background: #d5d500;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
}

.content-news ul {
    padding: 0;
    margin: 0;
}

.content-news ul li {
    padding: 8px 5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.content-news .content-img {
    width: 35%;
    max-height: 75px;
    text-align: center;
}

.content-news .content-img img {
    border: 1px solid #ccc;
    height: 100%;
}

.content-news .content-info {
    width: 65%;
    padding-left: 5px;
    max-height: 70px;
    overflow: hidden;
}

.content-news .content-info a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
}

.content-news .content-info a:hover {
    color: #e90000;
    transition: 0.3s ease-out;
}

.slider-home {
    height: 100%;
}

.slider-home .owl-stage-outer {
    height: 100%;
}

.slider-home .owl-stage-outer .owl-stage {
    height: 100%;
}

.owl-carousel.owl-drag .owl-item {
    height: 100%;
}

.slider-home .owl-nav button {
    background: #D6D6D6 !important;
    color: #ffffff !important;
    display: inline-block;
    font-size: 30px !important;
    width: 40px;
    height: 40px;
    left: 0;
    line-height: 40px !important;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 45%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
}

.slider-home .owl-nav button.owl-next {
    left: auto;
    right: 0;
}

.slider-home:hover .owl-nav button {
    left: 10px;
    opacity: 1;
}

.slider-home:hover .owl-nav button.owl-next {
    left: auto;
    right: 10px
}

.slider-home .owl-dots {
    width: 100%;
    position: absolute;
    z-index: 9999;
    left: 0;
    bottom: 3%;
}

.slider-home .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
}
/*.product-item {*/
/*    margin-top: 20px;*/
/*}*/

/*.product-item h3.title {*/
/*    margin-top: 10px;*/
/*}*/

/*.product-item h3.title a {*/
/*    text-decoration: none;*/
/*    color: #3d3d3d;*/
/*    font-weight: bold;*/
/*    font-size: 17px;*/
/*    display: block;*/
/*    min-height: 50px;*/
/*    font-family: 'Barlow', sans-serif;*/
/*    text-align: center;*/
/*}*/

/*.product-item h3.title a:hover {*/
/*    transition: 0.4s;*/
/*    color: #008f97;*/
/*}*/

/*.product-item .bottom {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.product-item .bottom .price {*/
/*    margin: 0;*/
/*    color: #de5b58;*/
/*    font-weight: bold;*/
/*}*/

/*.product-item .bottom .btn-buy {*/
/*    position: relative;*/
/*    font-size: 15px;*/
/*}*/

/*.product-item .bottom button {*/
/*    background: #f1f1f1;*/
/*    color: #3d3d3d;*/
/*    padding: 6px 30px 6px 20px;*/
/*    font-size: 15px;*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    position: relative;*/
/*}*/

/*.product-item .bottom button i {*/
/*    font-size: 20px;*/
/*    color: #79c3aa;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    top: 12%;*/
/*    right: 16%;*/
/*}*/

/*.product-item .bottom .size {*/
/*    display: none;*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    top: 30px;*/
/*    left: 0;*/
/*    background-color: #ffffff;*/
/*    padding: 5px 10px;*/
/*    box-shadow: 0 0 5px #3d3d3d;*/
/*    width: 160px;*/
/*}*/

/*.product-item .bottom .btn-buy:hover .size {*/
/*    display: block;*/
/*}*/

/*.product-item .bottom .size__title {*/
/*    color: #008f97;*/
/*    margin: 0;*/
/*}*/

/*.product-item .bottom .size__item {*/
/*    color: #3d3d3d;*/
/*    text-align: center;*/
/*    padding: 5px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*    text-align: left;*/
/*}*/

/*.product-item .bottom .size__item:hover {*/
/*    background: #e5e5e5;*/
/*}*/
/* == End Home Page == */

/* == List + Detail Product Page == */

.list-page {
    padding: 0 !important;
}

.list-product__content {
    padding: 15px;
}

.product-detail {
    padding: 20px 0;
}

.product__info ul li {
    font-size: 15px;
    border-bottom: 1px solid #EEE;
    padding: 6px 0;
}

.product__info ul li.info__title {
    color: #0033FF;
    font-size: 18px;
}

.product__info .info__size a {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
    margin: 3px 5px 3px 0 ;
    text-decoration: none;
    color: #3d3d3d;
}

.product__info .info__size a.active, .product__info .info__size a:hover {
    border: 1px solid #EE0000;
}

.product__info ul li.info__price {
    color: #EE0000;
    font-size: 16px;
}

.product__info ul li.info__price span {
    font-size: 18px;
    font-weight: bold;
}

.product__info .info__tag li {
    display: inline-block;
}

.product__info .info__tag li:last-child .last-child-none {
    display: none;
}

.product__info .info__tag li a {
    text-decoration: none;
    padding: 5px 5px;
    color: #3d3d3d;
}

.product__info a.info__btn-buy {
    background: #e93b35;
    color: #fff !important;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: 0.4s;
    padding: 8px 14px;
    border-radius: 10px;
}

.product__info a.info__btn-buy:hover {
    transition: 0.4s;
    background: #E00;
}

.product__info a.info__btn-buy i {
    margin-right: 10px;
    font-size: 25px;
    vertical-align: bottom;
}

.product-detail__content {
    padding: 15px;
    word-break: break-all;
}

#tabs a.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3d3d3d !important;
}

#tabs a.nav-link.active {
    color: #0404b0 !important;
}

.product-detail__content .tab-content {
    padding: 15px;
    border: 1px solid #ccc;
    border-top: 0;
    word-break: break-all;
}

.product__selectors {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0;
}

.product__selectors a {
    width: 20%;
    display: inline-block;
}

.product__selectors a:hover {
    opacity: 0.5;
    border: 1px solid #008f97;
    align-items: center;
}

.product__selectors a img {
    width: 100%;
}
/* == End List + Detail Product Page == */

/* == List Post Page == */
.post-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #C6C6C6;
}

.post-item .post-item__image {
    display: block;
}

.post-item .post-item__image:hover img {
    opacity: 0.5;
    transition: 1s;
}

.post-item .post-item__title {
    margin: 10px 0;
}

.post-item .post-item__title a {
    font-size: 24px;
    color: #1f1f1f;
    text-decoration: none;
}

.post-item .post-item__title a:hover {
    color: #008f97;
    transition: 0.4s;
}

.post-item .post-item__description {
    margin: 0;
}
/* == End List Post Page == */

/* == Detail Post Page == */
.post-detail__content {
    padding-top: 15px;
    padding-bottom: 15px;
    word-break: break-all;
}

.other-post {
    border: 1px solid #DEDEDE;
    padding: 5px;
    background: #F7F7F7;
}

.other-post .other-post__title {
    font-size: 20px;
    color: #0066FF;
    margin: 0;
}

.other-post ul.other-post__content {
    margin-left: 15px;
}

.other-post__content li {
    background: url("../images/icon_arrow_right.png") left 7px no-repeat;
    padding: 3px 5px 3px 18px;
    color: #AAAAAA;
}

.other-post__content li a {
    color: #4A4A4A;
    text-decoration: none;
    transition: 0.4s;
}

.other-post__content li a:hover {
    color: #008f97;
    padding-left: 5px;
    transition: 0.4s;
}

.inc-info {
    margin-left: 15px;
    word-break: break-all;
}

.inc-info p {
    font-size: 15px;
    font-style: italic;
}
/* == End Detail Post Page == */

/* == Contact Page */
.contact-container {
    padding: 30px 0;
}

.contact-info {
   padding: 30px;
    font-size: 20px;
}

.contact-info h3 {
    text-align: center;
    font-weight: bold;
}

.contact-info p {
    margin: 0;
    padding: 5px 0;
}

.contact-info p i {
    min-width: 25px;
    font-size: 20px;
    text-align: center;
}

.contact-info a {
    color: #000;
    transition: 0.3s ease-in-out;
}

.contact-info a:hover {
    color: #008f97;
}

.contact-info__social {
    margin-top: 20px;
    padding: 15px 0;
    border-top: 1px solid;
}

.contact-info__social ul {
    text-align: center;
}

.contact-info__social ul li {
    display: inline-block;
    font-size: 30px;
    margin-right: 15px;
}

.contact-info__social ul li:last-child {
    margin-right: 0;
}

.contact-form__content {
    padding: 30px;
    box-shadow: 0 0 15px #d6d5d5;
}

.contact-form__content .form-item {
    margin: 8px 0;
    font-size: 15px;
}

.contact-form__content .form-item.captcha {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-form__content .form-item p {
    margin: 0;
    padding: 5px 0;
}

.contact-form__content .form-item span {
    color: #FF0000;
    margin-left: 3px;
}

.contact-form__content .form-item input, .contact-form__content .form-item textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    background: #F7F7F7;
}

.contact-form__content .form-item.submit {
    text-align: center;
}

.contact-form__content .form-item.submit input {
    width: auto;
    padding: 7px 25px;
    background: #e90000;
    border: none;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
}

/* == End Contact Page */

/* == Cart Page */
.cart__content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cart__content h3 {
    font-size: 18px;
    margin: 10px 0;
    text-transform: uppercase;
    color: #777777;
}

#cart-table {
    font-size: 15px;
}

#cart-table tr:first-child {
    background-color: #F0F0F0;
}

#cart-table td:nth-child(3) {
    min-width: 195px;
}

#cart-table td {
    text-align: center;
    vertical-align: middle;
}

#cart-table td p {
    margin: 0;
}

#cart-table td input {
    text-align: center;
    width: auto;
    max-width: 75px;
    padding-left: 10px;
}

#order_form {
    font-size: 15px;
}

#order_form .form-item {
    margin: 8px 0;
}

#order_form .form-item select,
#order_form .form-item input[type='text'],
#order_form .form-item input[type='email'],
#order_form .form-item textarea{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #D6D6D6;
    background: #F7F7F7;
}

#order_form .form-item input[type='button'] {
    border: 1px solid #3d3d3d;
    color: #3d3d3d;
    background: #fff;
    padding: 6px 10px;
    border-radius: 0;
    cursor: pointer;

}

#order_form .form-item input[type='submit'] {
    background: #3d3d3d;
    color: #fff;
    border: 1px solid #3d3d3d;
    padding: 6px 10px;
    border-radius: 0;
    margin-left: 12px;
    cursor: pointer;

}

/* == End Cart Page */


.top-content__left .owl-theme .owl-nav {
    margin: 0;
}

.top-content__right {
    padding-left: 0;
}

.collection-container {
    overflow: hidden;
    position: relative;
    width:100%;
    background-color: #f38221;
}

.collection-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.collection-container .collection__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.collection__content-item {
    width: 50%;
    height: 100%;
}

.collection__left {
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.collection__left p {
    font-size: 12px;
}

.collection__title {
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px;
}

.collection__link {
    color: #fff !important;
    font-size: 14px;
}

.collection__link:hover {
    text-decoration: underline !important;
}

.collection__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Menu */
.menu-container {
    background: #fff;
}
.menu-content {
    position: relative;
}

.navigation, .navigation ul, .navigation ul li, .navigation ul li a {
    list-style: none;
    line-height: 0;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation {
    width: 100%;
    z-index: 8;
    padding: 0;
}

.navigation ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.navigation > ul > li {
    display: table-cell;
}

.navigation > ul > li > a:hover, .navigation > ul > li > a:focus, .navigation > ul > li.active > a {
    background-color: #e1ded9;
    color: #3d3d3d;
}

.navigation > ul > li > a {
    color: #3d3d3d;
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    border-left: solid 1px #e1ded9;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation > ul > li:first-child > a {
    min-width: 40px;
    border: none;
}

.navigation ul ul {
    position: absolute;
    left: -9999px;
    top: 40px;
    width: 200px;
    z-index: 999;
    padding-top: 15px;
    opacity: 0;
    -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
    -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
    -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
    -o-transition: top 0.2s ease, opacity 0.2s ease-in;
    transition: top 0.2s ease, opacity 0.2s ease-in;
}

.navigation ul ul li a {
    background-color: #fff;
    border-bottom: 1px solid #e1ded9;
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 10px 0 25px;
    line-height: 36px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navigation ul ul li:last-child a {
    border-bottom: 0;
}

.navigation ul ul ul {
    padding-top: 0;
    padding-left: 6px;
    width: auto;
}

.navigation > ul > li:hover > ul {
    top: 32px;
    left: 0;
    opacity: 1;
}

.navigation ul ul > li:hover > ul {
    left: 200px;
    top: 0;
    opacity: 1;
}

.navigation > ul > li > ul::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    top: -1px;
    left: 35px;
}

.navigation ul ul ul::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: #fff;
    top: 12px;
    left: -8px;
}

.navigation > ul > li > a:hover, .navigation > ul > li > a:focus, .navigation > ul > li.active > a {
    background-color: #e1ded9;
    color: #3d3d3d;
}

.navigation ul ul li:hover > a, .navigation ul ul li > a:hover, .navigation ul ul li > a:focus {
    background-color: #e1ded9 !important;
}

.mm-menu {
    width: 80%;
    min-width: 140px;
    max-width: 280px;
    background: #626262 !important;
    color: #fff;
}

html.mm-opening .mm-slideout {
    -webkit-transform: translate(280px, 0);
    -moz-transform: translate(280px, 0);
    -ms-transform: translate(280px, 0);
    -o-transform: translate(280px, 0);
    transform: translate(280px, 0);
}

.mm-menu .mm-search input::placeholder {
    color: #fff;
}

#hamburger {
    box-sizing: border-box;
    display: none;
    width: 40px;
    height: 35px;
    margin: 0;
    position: relative;
}

#hamburger:before, #hamburger:after, #hamburger span {
    -webkit-transition: none 0.5s ease 0.5s;
    transition: none 0.5s ease 0.5s;
    -webkit-transition-property: transform, top, bottom, right, opacity;
    transition-property: transform, top, bottom, right, opacity;
}

#hamburger:before, #hamburger:after, #hamburger span {
    background-color: #fff;
    content: '';
    display: block;
    width: 28px;
    height: 4px;
    position: absolute;
    right: 7px;
}

#hamburger span {
    top: 15px;
}

#hamburger:after {
    top: 25px;
}

#hamburger:before {
    top: 5px;
}

.list-item {
    margin: 30px 0;
}

.list-item__more {
    text-align: center;
    margin-top: 20px;
}

.list-item__more a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    min-width: 240px;
    color: #e90000;
    border: 1px solid #e90000;
    transition: 0.4s ease-in-out;
}

.list-item__more a:hover {
    color: #fff;
    background-color: #e90000;
}

.why-choose-us {
    margin: 20px 0;
}


.why-choose-us__item {
    padding: 30px 0;
    text-align: center;
    position: relative;
}

.why-choose-us__item:after {
    position: absolute;
    top: 0;
    right: -20px;
    content: '';
    height: 100%;
    display: block;
    border-right: 2px dashed rgba(0,143,151, 0.5);
}

.col-6:last-of-type .why-choose-us__item:after {
    display: none;
}

.why-choose-us__icon {
    display: inline-block;
    padding: 15px;
    font-size: 40px;
    line-height: 0;
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.4s ease-in-out;
}

.why-choose-us__icon.refresh {
    background: #ffe85f;
}

.why-choose-us__icon.refresh:hover {
    background: #fff;
    border: 1px solid #ffe85f;
    color: #ffe85f;
}

.why-choose-us__icon.support {
    background: #05cf87;
}

.why-choose-us__icon.support:hover {
    background: #fff;
    border: 1px solid #05cf87;
    color: #05cf87;
}

.why-choose-us__icon.sale {
    background: #ff0000;
}

.why-choose-us__icon.sale:hover {
    background: #fff;
    border: 1px solid #ff0000;
    color: #ff0000;
}

.why-choose-us__icon.delivery {
    background: #4cc0ff;
}

.why-choose-us__icon.delivery:hover {
    background: #fff;
    border: 1px solid #4cc0ff;
    color: #4cc0ff;
}

.why-choose-us__title {
    margin: 15px 0 0;
    font-size: 20px;
    font-weight: bold;
    color: #4d4d4d;
}

/* Breadcrumb */
.banner-default {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #000 url(../images/inner-banner.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.banner-default::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(0,0,0,0.5);
}

.banner-default > div{
    position: relative;
    z-index: 1;
}


.banner-default h3 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.banner-default h3, .banner-default ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.banner-default ul.breadcumb li {
    display: inline-block;
    vertical-align: middle;
    color: #00CDD7;
}

.banner-default ul.breadcumb a, .banner-default ul.breadcumb span {
    color: #fff;
    font-size: 18px;
}

.banner-default ul.breadcumb span.sep {
    margin-left: 10px;
    margin-right: 10px;
    color: #00CDD7;
}

.banner-default ul.breadcumb span {
    color: #00cdd7;
}


.product-item {
    border: solid 1px #c9c9c9;
    padding: 10px;
    margin-bottom: 12px;
}

.product-item__image {
    text-align: center;
}

.product-item__title {
    text-align: center;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: bold;
}

.product-item__status {
    text-align: center;
    padding-top: 5px;
}

.product-item__price {
    text-align: center;
    font-size: 15px;
    color: #e12020;
    font-weight: bold;
}

.price__default, .price__sale {
    margin: 0;
}

.price__default.sale {
    text-decoration: line-through;
}

.product-item__description {
    position: absolute;
    bottom: 0px;
    display: none;
    left: 0px;
    width: 100%;
    background: rgba(0,0,0,0.9) repeat-x bottom;
    height: 100%;
    padding-bottom: 10px;
}

.product-item__description a {
    display: block;
    height: 100%;
    position: relative;
}

.product-item__description .description__content {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 14px;
}

.product-item__description .description__content p {
    margin-top: 10px;
}

.product-item:hover .product-item__description {
    display: block;
}


/* categories */
.categories__title {
    font-size: 18px;
    font-weight: bold;
    background: #e1ded9;
    color: #3d3d3d;
    text-transform: uppercase;
    margin: 15px 0;
    padding: 12px 10px;
    text-align: center;
}

.categories__parent a {
    font-size: 16px;
    background: #e1ded9;
    margin-top: 5px;
    border-top: solid 1px #d3d3d3;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    font-weight: bold;
    display: block;
    color: #454545;
}

.categories__parent.active a{
    color: #fff;
    background: #2098d1;
}

.categories__parent i {
    margin-right: 5px;
}

.categories__children {
    padding-left: 20px;
    background: #e2dfda;
    padding-bottom: 7px;
    padding-top: 7px;
    border-top: solid 1px #d3d3d3
}

.categories__children a{
    color: #454545;
    transition: 0.3s ease-out;
}

.categories__children a:hover {
    color: #2098d1;
}

.categories__children.active a {
    color: #2098d1;
    font-weight: bold;
}

