@font-face {
  font-family: 'segoeuisl';
  src: url('../font/segoeuisl.ttf');
}

body{
  font-family: 'segoeuisl' !important;
  font-size:14px;
  line-height:1.5;
}
#wapper {
  background-color: #fdfdfd;
}
#wapper a {
  text-decoration: none !important;
}
#wapper ul {
  list-style-type: none;
}

.clear {
  clear: both;
}
#content {
  padding: 25px 0;
  min-height: calc(100vh - 260px);
}
/* style Header */

.box_header {
  background-color: #fff;
}
.header_left  {
  line-height: 100px;
}
.header_left  img {
  height: 70px;
}
.header_right  ul {
  padding: 40px 0px;
  margin-bottom: 0px;
  text-align: right;
}
.header_right  ul li {
  display: inline-block;
  margin: 0px 10px;
}
.header_right  ul li a i {
  color: #f36f21;
}
.header_right  ul li  i {
  font-size: 20px;
  color: #3c3c3c;
}
.box_seach {
  position: relative;
}
.box_seach:hover .search {
  display: block;
}
.box_seach  .search {
  position: absolute;
  right: 20px;
  top: -10px;
  width: 240px;
  z-index: 999;
  display: none;
  border: 2px solid #c7c0c0;
}
.box_seach  .search input {
  width: 100%;
  padding: 5px;
}
/* end style header */

/* style menu */
.logo_mobi img{
  width: 40%;
}
#menu_top {
  background-color: #fff;
  border-bottom: 3px solid #f36f21;
}
div.header {
  display: none;
}
#menu ul {
  color: #000 !important;
  list-style: none;
  margin: 0px;
  height: 50px;
  padding-left: 0px;
}
#menu ul .menu_c1 {
  float: left;
  position: relative;
  z-index: 50;
  line-height: 50px;
}
#menu ul li a {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 20px;
  text-transform: uppercase;
  display: block;
  text-align: left;
}
#menu ul li a i {
  padding-left: 5px;
}
#menu ul li .active {
  color: #d5570c;
}
#menu .menu_c1 .dm_c1 {
  position: absolute;
  margin-left: 0px;
  display: none;
  min-width: 320px;
  line-height: 1.5;
  border: none;
  height: auto;
}
#menu .menu_c1:hover .dm_c1 {
  display: block;
  transform: 1s;
}
#menu ul li .dm_c1 li {
  float: none;
  border: none;
  background: #3f3a34;
  position: relative;
}
#menu ul li .dm_c1 li:hover {
  background: #484644;
  border-left: 2px solid #f36f21;
}
#menu ul li .dm_c1 li:hover a {
  color: #fff;
}
#menu ul li .dm_c1 li a {
  padding:10px;
  text-transform: none;
  display: block;
  color: #fff ;
  border-bottom: 1px dotted  #fff;
}
#menu ul li .dm_c1 li a i {
  float: right;
  line-height: 20px;
}
#menu ul li .dm_c1 li .dm_c2 {
  position: absolute;
  margin-left: 0px;
  display: none;
  min-width: 320px;
  line-height: 1.5;
  border: none;
  height: auto;
  left: 100%;
  top: 0px;
  border-left: 1px solid #000;
}
#menu .menu_c1 .dm_c1 li:hover .dm_c2 {
  display: block;
  transform: 1s;
}
/* end style menu */
/* style slider  */
#myCarousel {
  height: 600px;
}
.carousel-inner , .carousel-inner .item{
  height: 100% ;
}

#myCarousel img {
  width: 100%;
  height: 100%;
}
/* end style slider  */

/* style sản phẩm */
.box_item .itemsp  {
  padding: 15px;
  position: relative;
}
.box_item .itemsp  .card_item {
  border-radius: 7px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.box_item .itemsp  .card_item .item_sale {
  position: absolute;
  top: 14%;
  background-image: url(/./images/sale.png);
  padding: 5px 30px 15px;
  background-size: 100% 100%;
  left: 2px;
  z-index: 9;
  color: #fff;
  font-size: 15px;
}
.box_item .itemsp  .card_item img {
  width: 100%;
}
.box_item .itemsp  .info_item {
  padding: 10px ;
  background-color: #fff;
}
.box_item .itemsp  .info_item h3 {
  margin: 0px;
  min-height: 38px;
  margin-bottom: 15px;
}
.box_item .itemsp  .info_item h3 a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 18px;
  color: #f36f21;
  font-weight: 600;
}
.box_item .itemsp  .info_item  .detail_sp  a{
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  background: #231f20;
  border-color: #231f20;
}
.box_item .itemsp  .info_item  .detail_sp  a:hover {
  background: #f36f21;
}
/* end style sản phẩm */

/* style footer */
#footer {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.menu_footer {
  text-align: center;
}
.menu_footer ul li {
  display: inline-block;
  padding: 5px 15px;
}
.menu_footer ul li a {
  color: #3c3c3c;
}
.menu_footer ul li a i{
  padding-left: 5px;
}
.copyright {
  color: #3c3c3c;
}
.copyright a {
  color: #6c757d ;
}
.copyright a:hover {
  text-decoration: none;
  color: #6c757d ;
}
/* end style footer */

/* style product list */
.title_pr {
  margin-bottom: 15px;
  border-bottom: 1px solid #d5570c;
}
.title_pr h3 {
  font-size: 22px;
  color: #d5570c;
  font-weight: 600;
  text-transform: capitalize;
}
.title_dm {
  border-radius: 7px 7px 0px 0px;
  margin-top: 10px;
  background-color: #f36f21;
}
.title_dm h3{
  margin: 0px;
  padding: 7px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2;
}
.list_dm {
  background: #949191;
  border-radius: 0px 0px 7px 7px ;
}
.list_dm .panel   {
  background-color: unset;
  border: unset;
  padding-top: 0px !important;
  margin-top: 0px !important;
}
.list_dm .panel-default>.panel-heading {
  background-color: #6b6767;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.list_dm .panel  {
  padding: 10px 10px 0px;
}
.list_dm .dm_sp {
  background: #3c3c3ccf;
}
.list_dm .panel-body{
  padding: 5px  15px;
}
.list_dm .dm_sp .panel-body ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.list_dm .dm_sp .panel-body ul li{
  padding: 7px 0px;
}
.list_dm .dm_sp .panel-body ul li a {
  color: #e2d9d9;
}
.list_dm  .panel-group {
  padding: 10px 0px !important;
}
/* end style product list */


/* style product detail */
.product_detail_left  img{
  width: 100%;
}
.noidung_detail {
  padding: 15px 0px;
}
.tab-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: unset;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #d5570c !important;
  font-weight: 600;
}
.nav-tabs>li>a {
  color: #3c3c3c;
}

.price_detail .title_pr{
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.price_detail .title_pr h3 {
  font-size: 18px;
}
.check_price {
  padding-bottom: 15px;
}
.check_price label {
  font-size: 15px;
  margin-bottom: 10px;
  color: #676363;
}
.check_price select , .check_price input, .message-content textarea {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.tong_price {
  color: #d5570c;
  text-align: right;
  font-size: 20px;
}
.item_ds  {
  padding: 15px;
}
.item_design {
  background: #3f3a34;
  border-color: #3f3a34 !important;
  padding: 1rem 0.8rem;
  border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
}
.item_design a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 7px 15px;
}
.item_design i {
  background: transparent !important;
  color: #7f5c4f !important;
  font-size: 40px;
  padding-right: 15px;
}
.item_design a:hover .d-block{
  color: #d5570c;
}
.media-body  .d-block  {
  display: block;
  font-size: 14px;
  color: #a9a4a4;
}
.media-body .mt-0  {
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}
/* end style product detail */



/* style đăng ký */
.user_detail .title_user {
  border-bottom: 1px solid #d5570c;
  padding-bottom: 7px;
}
.user_detail .title_user h4 {
  font-size: 16px;
  color: #d5570c;
  display: inline-block;
  font-weight: 550;
  float: left;
  margin: 0px;
}
.user_detail .title_user span {
  float: right;
  color: red;
  font-size: 11px;
}
.box_dk .thongtin_dk  {
  width: 50%;
  float: left;
}
.box_dk .thongtin_dk  input , .box_dk .thongtin_dk  select{
  width: 100%;
  padding: 10px;
  border: 1px solid #3c3c3c82;
  margin: 12px 0px;
  border-radius: 5px;
  height: 45px;
}
.box_dk .thongtin_dk .item_thongtin {
  width: 95%;
  margin: auto;
}
.box_tt_left , .box_tt_right{
  width: 50%;
  float: left;
}
.box_tt_left .thongtin_tk  input {
  width: 100%;
  padding: 10px;
  border: 1px solid #3c3c3c82;
  margin: 12px 0px;
  border-radius: 5px;
  height: 45px;
}
.box_tt_left .thongtin_tk  .item_tk , .box_tt_left .dangky , .box_tt_right .content_dk{
  width: 95%;
  margin: auto;
}
.box_tt_left .dangky button {
  background: #f36f21;
  border-color: #f36f21;
  padding: 5px 10px;
  color: #fff;
  border: unset;
  border-radius: 5px;
}
/* end style đăng ký */
@media screen and (max-width: 968px) {
  .header {
    display: block !important;
  }
  nav#menu {
    display: none;
  }
  #myCarousel {
    height: 350px;
  }
  #header {
    display: none;
  }
  .item_thongke {
    width: 49%;
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  .menu_footer ul li {
    width: 100%;

  }
  .form-lh input {
    width: 95%;
  }
  #myCarousel {
    height: 300px;
  }
  .item_tin_left img , .item_tin .img_tin img {
    min-height: 230px;
  }
  .item_tin_left {
    padding-bottom: 15px;
  }
  .info_tin  {
    padding: 0px !important;
  }
}
@media screen and (max-width: 600px) {
  .item_tin_lq  {
    padding-bottom: 15px;
  }
  .titel-center h3 {
    font-size: 20px;
  }

}
@media screen and (max-width: 480px) {
  .form-lh legend{
    font-size: 6vw;
  }
  #myCarousel {
    height: 230px;
  }
  #myCarousel img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .item_thongke {
    width: 100%;
    display: inline-block;
  }
  .title h3 , .thongke .title_tk{
    font-size: 25px;
  }
  .intro_tk {
    font-size: 20px;
  }
}
