.mb-0 {
    margin-bottom: 0;
}
.text-black {
    color: #000;
}
.w100 {
    width: 100px;
}
.w200 {
    width: 200px;
}
.form-inline {
    display: inline-block !important;
}
.w-25 {
    width: 25%;
}
/*===========================================
  Login Page
  ============================================*/
.login-logo {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.login-container .page-container .login-form {
    width: 350px;
}

/*===========================================
  Admin Page
  ============================================*/
.navbar-brand {
    padding: 4px 20px;
}

.navbar-brand > img {
    height: 32px;
}

.navbar-header {
    width: 230px;
    min-width: 230px;
}

.page-title {
    padding: 20px 36px 15px 0;
}

.page-title h1 {
    font-size: 22px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 12px 15px;
}

.table-footer {
    margin-top: 15px;
}

.summary-table-result {
    margin: 5px 0 0 0;
}

.table-control {
    margin-bottom: 15px;
}

.form-item-inline {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.table-image {
    max-height: 50px;
}

label {
    margin-bottom: 5px;
}

.control-label {
    font-weight: bold;
}

.help-block {
    margin-top: 5px;
    margin-bottom: 5px;
}

.note-editor .note-toolbar {
    padding: 0 15px 15px 15px;
}

.note-popover .popover-content > .note-btn-group, .note-toolbar > .note-btn-group {
    margin-right: 10px;
}

.permalink {
    margin-top: 5px;
}

.permalink-label {
    font-weight: bold;
    line-height: 32px;
}

.permalink-text, .permalink-input {
    float: left;
    width: auto;
}

.permalink-prefix, .permalink-content {
    color: #0D47A1;
    line-height: 32px;
}

.permalink-content {
    font-weight: bold;
}

.permalink-input input {
    height: 32px;
    padding: 5px 12px 5px 5px;
}

.permalink__btn-cancel {
    text-decoration: underline;
    color: #0a001f;
    padding: 5px;
}

.permalink__btn-cancel:hover {
    text-decoration: underline;
}

.permalink-form-control {
    width: 250px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file__label {
    font-size: 13px;
    font-weight: 400;
    color: #0a68b4;
    display: block;
    cursor: pointer;
}

.input-file__image {
    margin-bottom: 3px;
}

.form-panel-heading {
    border-bottom: 1px solid #ccc;

}

.form-panel > .form-panel-heading {
    padding: 10px 20px;
}

.form-panel > .panel-heading + .panel-body {
    padding-top: 10px;
}

.form-panel-heading .panel-title {
    font-size: 13px;
    font-weight: bold;
}

.checkbox-group .checkbox {
    float: left;
    width: 50%;
}

@media (min-width: 769px) {
    .sidebar {
        width: 230px;
    }
}

.ml-1 {
    margin-left: 1em;
}

.seo-preview {
    margin: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.1);
    padding: 10px;
    cursor: pointer;
}

.seo-preview__title {
    font-size: 20px;
    color: dodgerblue;
}

.seo-preview__desc {
    font-size: 12px;
}

.input-sm {
    width: 70px;
}
