
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.k_banner {
    background-color: #e90000;
}

.k_k_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.k_tim_kiem input {
    width: 100%;
    padding: 10px 70px 10px 20px;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.k_tim_kiem button {
    position: absolute;
    color: #616264;
    top: 0;
    right: 0;
    left: unset;
    border: 0;
    width: 50px;
    height: 100%;
    background-color: #ffff86;
}

.slide_home {
    max-width: 1180px;
    margin: auto;
}
.content-news {
    background: #fff;
    border: 1px solid #ccc;
}

.content-news .title span {
    display: inline-block;
    padding: 10px 20px;
    background: #d5d500;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
}

.content-news ul {
    padding: 0;
    margin: 0;
}

.content-news ul li {
    padding: 8px 5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.content-news .content-img {
    width: 35%;
}

.content-news .content-img img {
    border: 1px solid #ccc;
}

.content-news .content-info {
    width: 65%;
    padding-left: 5px;
    max-height: 60px;
    overflow: hidden;
}

.content-news .content-info a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
}

.slider-home .owl-nav button {
    background: #D6D6D6 !important;
    color: #ffffff !important;
    display: inline-block;
    font-size: 30px !important;
    width: 40px;
    height: 40px;
    left: 0;
    line-height: 40px !important;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 45%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
}

.slider-home .owl-nav button.owl-next {
    left: auto;
    right: 0;
}

.slider-home:hover .owl-nav button {
    left: 10px;
    opacity: 1;
}

.slider-home:hover .owl-nav button.owl-next {
    left: auto;
    right: 10px
}

.slider-home .owl-dots {
    width: 100%;
    position: absolute;
    z-index: 9999;
    left: 0;
    bottom: 3%;
}

.slider-home .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
}

.khung_sp .row {
    margin: 0;
}
















