@media (max-width: 991px) {
    .content-news ul {
        display: flex;
        flex-flow: row wrap;
    }

    .content-news ul li {
        width: 50%;
    }

}

@media (max-width: 575px) {
    .content-news ul li {
        width: 100%;
    }

    .content-news .content-info {
        max-height: unset;
    }

}