@media (max-width: 1199px) {
    .navigation > ul > li > a {
        font-size: 13px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .navigation ul ul li a {
        font-size: 13px;
    }

    .why-choose-us__title {
        font-size: 18px;
    }

}

@media (max-width: 991px) {
    #wrapper {
        padding: 0 15px;
    }

    .top-content__right {
        padding-left: 15px;
    }

    .header-content {
        display: block;
    }

    .header-content__right {
        margin-top: 15px;
        width: 100%;
    }

    .header-content__search {
        width: 80%;
    }

    .header-content__cart {
        text-align: right;
    }

    .header-content__contact {
        display: none;
    }

    .header-content__tutorial {
        display: none;
    }

    /* Header */

    header .navbar-nav .nav-link {
        text-align: left;
    }

    .logo-sm-center {
        position: absolute;
        left: calc(50% - 20px);
        top: -5px;
    }

    header .dropdown-toggle::after {
        display: inline-block;
    }

    .has-child:hover .collapse.child {
        display: none !important;
        position: relative;
        left: 0;
        background-color: #ffffff;
    }

    .has-child:hover .collapse.show.child {
        display: block !important;
    }

    .child .has-child:hover .collapse.subchild {
        display: none !important;
        position: relative;
        left: 0;
        background-color: #ffffff;
    }

    .child .has-child:hover .collapse.show.subchild {
        display: block !important;
    }

    .has-child .nav-link i {
        display: block;
    }

    header .navbar-nav .child .nav-link {
        padding-left: 1em;
        padding-right: 1em;
    }

    header .navbar-nav .subchild .nav-link {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .isDisable {
        pointer-events: unset;
    }
    /*End Header */

    /* Menu */
    .menu-container {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .why-choose-us__title {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .why-choose-us__item:after {
        display: none;
    }
    /* Home page */
    .product-item .bottom .size {
        right: 0;
        left: unset;
    }
    /* End Home Page */

    /* Footer */
    footer {
        background: #f1f1f1;
    }
    /* End Footer */

    /* List Post */
    .post-item .post-item__title a {
        font-size: 20px;
    }

    .post-item .post-item__description {
        font-size: 15px;
    }
    /* End List Post */

}


@media (max-width: 460px) {

    /* Home page */
    .title-list__wrap .list-pagination {
        display: none;
    }
    /* End Home page */

    /* List Post */
    .post-item .post-item__title {
        margin: 5px 0;
    }

    .post-item .post-item__title a {
        font-size: 18px;
    }
    /* End List Post */

}
